NODE_ENV=production

CLIENT_URL=https://YOUR-FRONTEND.vercel.app
SERVER_URL=https://https://irap-api-seven.vercel.app
DATABASE_REQUIRED=true
MONGODB_URI=mongodb+srv://aniketgarg8178_db_user:hIOGrQMGUgpzoYgb@cluster0.lds8dmb.mongodb.net/irap?retryWrites=true&w=majority&appName=Cluster0
DATABASE_NAME=irap

AUTH_ENABLED=true
JWT_ACCESS_SECRET=0Tktl0cuh3evHdGaizqlA52G0lXKRZ9q_a13EM_DxYIciHIJm07rawIEjLlB28cO
JWT_REFRESH_SECRET=Q2JxCxJ-rlKhM53MFhQTpm7UnDb7F1J88DXSeS-HF6A0HkmFvjeV4uCg-pH-j9nF

APPLICATION_PAYMENT_REQUIRED=false
PAYMENTS_ENABLED=false
PAYMENT_DEFAULT_PROVIDER=offline
RAZORPAY_ENABLED=false
STRIPE_ENABLED=false
OFFLINE_PAYMENT_ENABLED=false

COOKIE_SECURE=true
COOKIE_SAME_SITE=lax

DOCUMENT_STORAGE_PROVIDER=cloudinary
DOCUMENT_MAX_FILE_SIZE_MB=4
CLOUDINARY_CLOUD_NAME=z9a31k6c
CLOUDINARY_API_KEY=832875846168921
CLOUDINARY_API_SECRET=iyFUf9Be3F1lO_5sSsZIK9saRts

MAIL_DELIVERY_MODE=smtp
SMTP_HOST=smtp.sendcorex.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=S.C.X.38PptL6cpG0iKWX3K3wrjaEylRTqtHI8Bbn6bIfmYGmnIwWRA368gvtNBPHBU
SMTP_PASSWORD=S.C.X.38PptL6cpG0iKWX3K3wrjaEylRTqtHI8Bbn6bIfmYGmnIwWRA368gvtNBPHBU
MAIL_FROM_NAME=iRAP
MAIL_FROM_ADDRESS=aniketgarg8178@gmail.com

DEFAULT_CURRENCY=INR
LOG_LEVEL=info
TRUST_PROXY=1