*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

ul[role='list'],
ol[role='list'] {
  padding: 0;
  list-style: none;
}

button,
input,
textarea,
select {
  font: inherit;
}

button,
select {
  text-transform: none;
}

img,
picture,
svg,
canvas {
  display: block;
  max-width: 100%;
}

input,
textarea,
select {
  max-width: 100%;
}

a {
  color: inherit;
}

:target {
  scroll-margin-block: 6rem;
}
